#navbar{
    background-color: orange;
}

.nav-link h1, h5{
    color: black;
}

.nav-link h5{
    color: black;
    justify-content: right;
}

.flex-container {
    display: flex;
    background-color: gray;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }